
.media{
    padding-top: 2rem;
    margin-left: 4rem;
}
#right_label_bitcoin{
    border-radius: 2rem;
    margin-top:4rem;
}
#description_content{
    border-radius: 1rem;
    padding: 1rem;
    font-size: 1rem !important;
    background-color: rgb(247, 240, 240);
    overflow: hidden;
    overflow-y: scroll;
    overflow-x: scroll;

}
.cart{
    width: 200rem;
    align-items: center;
    border:solid;
}
