.card{

    border: none;
    color: black;
    margin: 0rem 0.6rem;
}

.mainCoins{
    
    padding: 1rem !important;
}

.tabel{

    border-radius: 1rem;
    border: 1px #e7e7e7 solid !important;
    padding: 10px;
}