body{

    background-color: #fcfcfc;
}

.search{

    width: 40rem !important;
    margin-left: 4rem;

}

.serBtn{

    border-color: rgb(45, 40, 71);
    width: 8rem !important;
    color: white;
}

.navbar{
    background-image: linear-gradient(to right, #01050e , #112952);
}

.nav-link{

    color: white !important;
}

.navbar-brand{

    